*~
*.diff
*.zip
*.xpi
*.pyc
firefox/src/.build
firefox/src/.deps
firefox/public/*.h
firefox/public/*.xpt
firefox/install.rdf
firefox/src/libwebcl.so
firefox/src/libwebcl.dylib
firefox-js/dist
firefox-js/external/xpidllex.py
firefox-js/external/xpidlyacc.py
*-swp
